.headline {
    font-weight: 300;
    font-size: 1.9rem;
    color: $mainBlue;
    width: 95%;

    @mixin atSmall {
        font-size: 2.875rem;
    }
    &--centered {
        text-align: center;
    }
    &--orange {
        color: $mainOrange;
    }  
    &--small {
        font-size: 1.4rem;
       
        
        
    }
    &--narrow {

        margin: 0 auto 0 auto;
    }
    &--light {
        font-weight: 200;
        margin-left: 10px;
    }
    strong {
        font-weight: 400;
    }
    &-b-margin-small {
        margin-bottom: .5em;
    }
    &-b-margin-large {
        margin-bottom: 1.6em;
    }
    &--no-t-margin {
        margin-top: 0;
    }
}
