.primary-nav {
    padding-top: 10px;
    @mixin atMedium {
        padding-top: 0;
    }

    &--float-right {
        @mixin atMedium {
            float: right;
       }
    }
    ul {
        padding: 0;
        margin: 0;
        @mixin clearfix;
    }
    li {
        display: inline-block;
        list-style: none;
        padding-right: 7px;    
        @mixin atMedium {
            float: left;
            display: block;
            padding-right: 20px;
        }
    }
    li:last-child {
        padding-right: 0;
        @mixin atMedium {
            padding-right: 20px;
        }
    }
    a {
        background-color: rgba($mainBlue, .5);
        text-decoration: none;
        color: #fff;
        font-size: .8rem;
        font-weight: 300;
        display: block;
        padding: 5px 8px;
        @mixin atMedium {
            background-color: transparent;
            font-size: 1rem;
            padding: 12px 0; 
        }
        
    }
}