.social-icons {
    text-align: center;
    
    &__icon {
        background-color: $mainOrange;
        display: inline-block;
        margin: 0 7px 7px 7px;
        width: 33%;
        height: 70px;
        position: relative;
        @mixin atSmall {
            width: 70px;
            margin: 0 7px;
        }

        .icon {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

        }
    }
}